flow/flows.json
[{"id":"95ec7e76.11994","type":"tab","label":"Flow 1"},{"id":"b4da5709.585608","type":"e-mail in","z":"95ec7e76.11994","name":"Mail","protocol":"IMAP","server":"webmail.sapient.co.in","useSSL":true,"port":"993","box":"INBOX/test","disposition":"Delete","repeat":"10","x":136.2777862548828,"y":114.88890075683594,"wires":[["86bfda66.32e798"]]},{"id":"86bfda66.32e798","type":"function","z":"95ec7e76.11994","name":"Get HTML from Msg","func":"msg.payload=msg.html;\nreturn msg;","outputs":1,"noerr":0,"x":353.8957977294922,"y":156.88888549804688,"wires":[["6354458d.567e5c"]]},{"id":"6354458d.567e5c","type":"html","z":"95ec7e76.11994","name":"Extract Text","tag":"table>tr,table>tbody>tr","ret":"html","as":"multi","x":556.8957977294922,"y":153.88888549804688,"wires":[["93854728.2c1e68"]]},{"id":"93854728.2c1e68","type":"html","z":"95ec7e76.11994","name":"Extract Rows","tag":"td","ret":"text","as":"single","x":734.8957977294922,"y":148.88888549804688,"wires":[["267679ef.d8a166"]]},{"id":"267679ef.d8a166","type":"function","z":"95ec7e76.11994","name":"Array to JSON","func":"var json ={};\njson.Asset = msg.payload[0];\njson.Severity=msg.payload[1];\njson.Mode=msg.payload[2];\njson.Message=msg.payload[3];\njson.AlertDate=msg.date;\nmsg.payload=json;\n//if(json.Mode==\"drop\"){\n//    msg=null;\n//}\n\nreturn msg;","outputs":1,"noerr":0,"x":243.8958282470703,"y":273.8888854980469,"wires":[["49a20635.dc6a18"]]},{"id":"49a20635.dc6a18","type":"switch","z":"95ec7e76.11994","name":"Message Type","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"M&S Control-M JOB alert","vt":"str"},{"t":"eq","v":"MNS PLATFORM Alert","vt":"str"},{"t":"eq","v":"MNS PLT_SERVICE_ALERT Alert","vt":"str"}],"checkall":"false","outputs":3,"x":439.8957977294922,"y":282.8888854980469,"wires":[["5c874282.5ef00c"],[],[]]},{"id":"5c874282.5ef00c","type":"function","z":"95ec7e76.11994","name":"Set ControlM AlertKey","func":"var regexp = /(?:^|\\s)The JOB (.*?)(?:\\s|$)/g;\nvar match = regexp.exec(msg.payload.Message);\nmsg.payload.AlertKey=match[1];\nreturn msg;","outputs":1,"noerr":0,"x":696.8957977294922,"y":280.8888854980469,"wires":[["cb079885.0cade8","cde558b3.85b428"]]},{"id":"cb079885.0cade8","type":"debug","z":"95ec7e76.11994","name":"","active":true,"console":"false","complete":"true","x":910.2778167724609,"y":240.2882080078125,"wires":[]},{"id":"cde558b3.85b428","type":"switch","z":"95ec7e76.11994","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":""}],"checkall":"true","outputs":1,"x":853.2743682861328,"y":357.4930725097656,"wires":[[]]}]