XML/Alerts.xml
[{"id":"13a39efd.d001a1","type":"e-mail in","z":"20782f4c.404bf","name":"Alert Mail","protocol":"IMAP","server":"webmail.sapient.co.in","useSSL":true,"port":"993","box":"ALERT/ATT_ALERTS","disposition":"Delete","repeat":"60","x":79,"y":83,"wires":[["5cb978c.e9a2f88"]]},{"id":"6021602f.a20cf","type":"html","z":"20782f4c.404bf","name":"Extract Text","tag":"table>tr,table>tbody>tr","ret":"html","as":"multi","x":492.5,"y":85,"wires":[["d3641159.5f917"]]},{"id":"5cb978c.e9a2f88","type":"function","z":"20782f4c.404bf","name":"Get HTML from Msg","func":"msg.payload=msg.html;\nreturn msg;","outputs":1,"noerr":0,"x":275.5,"y":86,"wires":[["6021602f.a20cf"]]},{"id":"d3641159.5f917","type":"html","z":"20782f4c.404bf","name":"Extract Rows","tag":"td","ret":"text","as":"single","x":694.5,"y":85,"wires":[["ee8c9a36.0e3ad8"]]},{"id":"ee8c9a36.0e3ad8","type":"function","z":"20782f4c.404bf","name":"Array to JSON","func":"var json ={};\njson.Asset = msg.payload[0];\njson.Severity=msg.payload[1];\njson.Mode=msg.payload[2];\njson.Message=msg.payload[3];\njson.AlertDate=msg.date;\nmsg.payload=json;\nif(json.Mode==\"drop\"){\n    msg=null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":146.5,"y":205,"wires":[["1298e393.65a6ec"]]},{"id":"3c274fb3.7b7a5","type":"mongodb out","z":"20782f4c.404bf","mongodb":"b81eafe1.8ebd2","name":"Save Alert","collection":"alert","payonly":true,"upsert":false,"multi":false,"operation":"store","x":759.5,"y":211,"wires":[]},{"id":"89fb37a.4d6ebc8","type":"function","z":"20782f4c.404bf","name":"Set ControlM AlertKey","func":"var regexp = /(?:^|\\s)The JOB (.*?)(?:\\s|$)/g;\nvar match = regexp.exec(msg.payload.Message);\nmsg.payload.AlertKey=match[1];\nreturn msg;","outputs":1,"noerr":0,"x":174.5,"y":302,"wires":[["3c274fb3.7b7a5"]]},{"id":"1298e393.65a6ec","type":"switch","z":"20782f4c.404bf","name":"Message Type","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"M&S Control-M JOB alert","vt":"str"},{"t":"eq","v":"MNS PLATFORM Alert","vt":"str"},{"t":"eq","v":"MNS PLT_SERVICE_ALERT Alert","vt":"str"}],"checkall":"false","outputs":3,"x":467.5,"y":208,"wires":[["89fb37a.4d6ebc8"],["c059c45e.609168"],["8beffd3e.ce76a"]]},{"id":"c059c45e.609168","type":"function","z":"20782f4c.404bf","name":"Set Platform AlertKey","func":"var messageStr=msg.payload.Message;\nvar splitKey = messageStr.split(\"||\");\nvar key;\nif(typeof splitKey[2]!= \"undefined\"){\n    key = splitKey[2].split(\" \")[2];\n}else{\n    key = messageStr.split(\"--\")[2].split(\" \")[2];\n}\nmsg.payload.AlertKey=key;\nreturn msg;","outputs":1,"noerr":0,"x":164,"y":377,"wires":[["3c274fb3.7b7a5"]]},{"id":"8beffd3e.ce76a","type":"function","z":"20782f4c.404bf","name":"Set Service AlertKey","func":"//TODO\nreturn msg;","outputs":1,"noerr":0,"x":158,"y":451,"wires":[["3c274fb3.7b7a5"]]},{"id":"b81eafe1.8ebd2","type":"mongodb","z":"20782f4c.404bf","hostname":"mongo","port":"27017","db":"node-red","name":"mongo"}]